header {
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: white;
  align-items: center;
}

header h1 {
  font-size: 25px;
}

header input {
  width: 200px;
}

header ul {
  display: flex;
  gap: 30px;
}

header ul li {
  list-style: none;
}
